html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding-left: 0px;
  grid-column: 2;
  background-color: #000000;
}

body {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 100vh;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.popular-place-icon {
  width: 50px;
  height: 50px;
}

.popular-place-list {
  display: block;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
}

.esri-icon-visible {
  color: blue;
}

.sidebar {
  height: 100%;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background: linear-gradient(to bottom, #B2EEF1 0%, #f5f8dc 100%);
  grid-column: 1;
  overflow-y: auto;
  overflow: visible;
}

.sidebar div {
  padding: 8px;
  font-size: 24px;
}

.sidebar img {
  width: 50px;
  height: 50px;
  margin-top: -30px;
}

#imagery {
  position: absolute;
  top: 89px;
  left: -10px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: 'Sensation Light', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#viewer {
  position: absolute;
  top: 97px;
  left: 15px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: 'Sensation Light', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: 'Sensation Light';
  src: url('../pics/Roboto-Light.ttf') format('truetype');
}

hr.line1 {

  width: 40px;
  height: 1.5px;
  top: 90px;
  left: 0px;
  border: 0;
  color: #333;
  background-color: #333;
}

#zoomInBtn,
#zoomOutBtn {
  position: absolute;
  left: 7px;
  background: none;
  border: none;
  padding: 0;
  margin: 5px;
  outline: none;
}

#zoomInBtn {
  top: 250px;
  left: 8.5px;
}

#zoomOutBtn {
  top: 300px;
}

#layer {
  position: absolute;
  top: 900px;
}

#zoomInBtn img,
#zoomOutBtn img {
  display: block;
  width: 100%;
  height: 100%;
}

#zoomInBtn img:hover,
#zoomOutBtn img:hover {
  outline: 2px solid #5A5A5A;
}

hr.line2 {
  position: absolute;
  width: 50px;
  height: 1.5px;
  top: 200px;
  left: 0px;
  border: 0;
  color: #333;
  background-color: #333;
}

hr.line2-5 {
  position: absolute;
  width: 50px;
  height: 2px;
  top: 300px;
  left: 0px;
  border: 0;
  color: #333;
  background-color: #333;
}

#layerBtn {
  position: absolute;
  top: 360px;
  left: 4px;
  width: 30px;
  height: 30px;
}

#layerBtn img {
  width: 90%;
  height: 90%;
}

#layerBtn img:hover {
  outline: 2px solid #5A5A5A;
}

hr.line3 {
  position: absolute;
  width: 50px;
  height: 1.5px;
  top: 395px;
  left: 0px;
  border: 0;
  color: #333;
  background-color: #333;
}

#maglass {
  position: absolute;
  top: 420px;
  left: 4px;
  width: 30px;
  height: 30px;
}

#maglass img {
  width: 90%;
  height: 90%;
}

#maglass img:hover {
  outline: 2px solid #5A5A5A;
}

hr.line4 {
  position: absolute;
  width: 50px;
  height: 1.5px;
  top: 455px;
  left: 0px;
  border: 0;
  color: #333;
  background-color: #333;
}

#link {
  position: absolute;
  top: 530px;
  left: 3px;
  width: 30px;
  height: 30px;
}

#link img {
  width: 90%;
  height: 90%;
}

#link img:hover {
  outline: 2px solid #5A5A5A;
}

hr.line4-5 {
  position: absolute;
  width: 50px;
  height: 2px;
  top: 509px;
  left: 0px;
  border: 0;
  color: #333;
  background-color: #333;
}

#ruler {
  position: absolute;
  top: 475px;
  left: 2px;
  width: 30px;
  height: 30px;
}

#ruler img {
  width: 100%;
  height: 100%;
}

#ruler img:hover {
  outline: 2px solid #5A5A5A;
}

#share {
  position: absolute;
  bottom: 9%;
  left: 6px;
  width: 30px;
  height: 30px;
}

#share img {
  width: 75%;
  height: 75%;
}

#share img:hover {
  outline: 2px solid #5A5A5A;
}

hr.line5 {
  position: absolute;
  width: 50px;
  height: 1.5px;
  bottom: 8%;
  left: 0px;
  border: 0;
  color: #333;
  background-color: #333;
}

#help {
  position: absolute;
  bottom: 3.3%;
  left: 3px;
  width: 30px;
  height: 30px;
}

#help img {
  width: 100%;
  height: 100%;
}

#help img:hover {
  outline: 2px solid #5A5A5A;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #eaf0b4;
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Sensation Light';
  border: 1px solid #B2EEF1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#zoomInBtn .tooltip-text {
  bottom: 16%;
  left: 230%;
  margin-left: -10px;
}

#zoomOutBtn .tooltip-text {
  bottom: 16%;
  left: 230%;
  margin-left: -10px;
}

#layerBtn .tooltip-text {
  bottom: 16%;
  left: 140%;
  margin-left: -10px;
  width: 80px;
}

#maglass .tooltip-text {
  bottom: 20%;
  left: 140%;
  margin-left: -10px;
}

#link .tooltip-text {
  bottom: 20%;
  left: 140%;
  margin-left: -10px;
  width: 80px;
}

#ruler .tooltip-text {
  bottom: 20%;
  left: 140%;
  margin-left: -10px;
  width: 160px;
}

#share .tooltip-text {
  bottom: 10%;
  left: 140%;
  margin-left: -10px;
  width: 80px;
}

#help .tooltip-text {
  bottom: 20%;
  left: 140%;
  margin-left: -10px;
  width: 80px;
}

#Sharelinkmodal {
  display: none;

}

#helpmodal {
  display: none;
}

#layerDropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 380px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 60px;
  top: 360px;

}

#LinkDropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 60px;
  top: 520px;

}

#maglassDropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 60px;
  top: 410px;

}


@media only screen and (max-width: 600px) {
  #layerDropdown {
    top: 180px;
  }

  #LinkDropdown {
    top: 240px;
  }


}

.layer-option {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  /* Optional: add a border between options */
  font-size: 16px;
}

.layer-option label {
  font-size: 15px;
  font-family: 'Sensation Light';
}

.layer-option:last-child {
  border-bottom: none;
  /* Optional: remove the border from the last option */
}

.layer-option input[type="checkbox"] {
  margin-right: 10px;
}



.zoom-option {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  /* Optional: add a border between options */
  font-size: 16px;
}

.zoom-option label {
  font-size: 15px;
  font-family: 'Sensation Light';
}

.zoom-option:last-child {
  border-bottom: none;
  /* Optional: remove the border from the last option */
}

.zoom-option input[type="checkbox"] {
  margin-right: 10px;
}

.rainbow-text {
  background-image: linear-gradient(to right, violet, indigo, blue, green, rgb(168, 168, 75), orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-text strong {
  font-weight: bold;
}

.panchromatic-text {
  font-weight: bold;
  color: #555555;
  /* Custom color */
}

#toolbarDiv {
  position: absolute;
  top: 475px;
  /* Adjust according to your layout */
  left: calc(50px + 10px);
  /* 50px is the assumed width of the #rulerBtn, and 10px is the gap between #rulerBtn and #toolbarDiv. Adjust these values based on your actual layout */
  cursor: default;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.esri-widget--button.active,
.esri-widget--button.active:hover,
.esri-widget--button.active:focus {
  cursor: default;
  background-color: #999696;
}

.esri-widget--button.active path,
.esri-widget--button.active:hover path,
.esri-widget--button.active:focus path {
  fill: #E4E4E4;
}

.esri-popup .esri-popup__header-title {
  color: rgb(3, 3, 3);
  font-size: 17px;
}

.esri-popup .esri-popup__content {
  color: green !important;
  font-size: 16px !important;
}

.esri-popup .esri-popup__main-container {
  width: 350px !important;
  /* Adjust the desired width */
  height: 264px !important;
  /* Adjust the desired height */
  max-width: none !important;
  max-height: none !important;
}


#toolbarDiv {
  display: none;
}

#toolbarDiv.show {
  display: block;
}

#toolbarDiv .esri-widget--button {
  display: inline-block;
  margin-right: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 4px solid #888;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideIn 0.5s ease-in-out forwards;
  position: fixed;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  font-family: 'Sensation Light';
  color: #333;
}


.modal-content {
  background: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.modal-content h4 {
  color: #000000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #005a9c;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.modal-content dt {
  color: #005a9c;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 10px 0;
}

.modal-content dd {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-content a {
  color: #0066cc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.modal-content a:hover {
  color: #005a9c;
}

.modal-content ul.unstyled {
  list-style: none;
  padding: 0;
}

.modal-content ul.unstyled li:before {
  content: "–";
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .modal-content h4 {
    font-size: 18px;
  }

  .modal-content dt {
    font-size: 16px;
  }

  .modal-content dd {
    font-size: 14px;
  }
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, -100%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#coordinate-widget {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  /* Change the text color */
  background-color: white;
  border: 3px solid #ceeff5;
}

.url-display {
  font-size: 20px;
  color: #333;
  word-wrap: break-word;
  /* Add this line */
}

#emailButton {
  background-color: #4CAF50;
  /* Green background */
  border: none;
  /* No border */
  color: white;
  /* White text */
  padding: 15px 32px;
  /* Padding */
  text-align: center;
  /* Center the text */
  text-decoration: none;
  /* No underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* Cursor changes when you hover over it */
  transition-duration: 0.4s;
  /* Transition effect */
}

#emailButton:hover {
  background-color: #45a049;
  /* Change background color on hover */
}



#Sharelinkmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#Sharelinkmodal .modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 80%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
}

#Sharelinkmodal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#Sharelinkmodal .modal-content .close:hover,
#Sharelinkmodal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#Sharelinkmodal .modal-content p {
  margin: 0 0 15px;
}

#Sharelinkmodal .modal-content .url-display {
  font-size: 20px;
  color: #333;
  word-wrap: break-word;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

#Sharelinkmodal .modal-content a#emailButton {
  color: #fff;
  background-color: #79c0ff;
  /* Green background */
  border: none;
  /* No border */
  padding: 15px 32px;
  /* Padding */
  text-decoration: none;
  /* No underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* Cursor changes when you hover over it */
  transition-duration: 0.4s;
  /* Transition effect */
  border-radius: 5px;
}

#Sharelinkmodal .modal-content a#emailButton:hover {
  background-color: #45a049;
  /* Change background color on hover */
}



:root {
  /* Colors */
  --brand-color: hsl(201, 85%, 79%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}


.custom-h2 {
  font-size: 1.5rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
  margin: 0;
}

.custom-p {
  font-family: var(--font-text);
  font-size: 0.7rem;
  line-height: 1.5;
  color: var(--white);
  margin: 1rem 0;
  /* Adjust this */

}



/* CARD COMPONENT */

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 13.875rem;
  height: 13.875rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card>* {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card .card__background {
  width: 100%;
  height: 100%;
}


.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  height: 100%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%);
}


.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: 190px;
  height: 40px;
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 2.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container> :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container> :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container> :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}